<%- include('header') %>
<div class="container">
    <h2 class="my-5 text-center font-weight-normal">Saddam Shah</h2>
</div>
    <div class="container-fluid mx-auto row">
        <div class="col-md-8 mx-auto ">
            <p class="font-italic text-center lead">Self-taught programmer | Software Developer </p>
            <br>
            <p class="lead">
                I started  myself with Web Development, and have been doing it since the past 2 years. As a programmer I love what i do currently Working with MERN Stack. Professional working as a full stack developer.
            </p>
            <br>
            <h5 class="font-weight-normal">About my blog</h5>
            <p class="lead">I am sharing my experience with the people who want to be a programmer in my blog i have been guiding people so that they can learn is a right way.</p>
            <br>
            <h5 class="font-weight-normal">List of my blogs</h5>
            <ul>
                <li><a href="/blog/1">What is Programming?</a></li>
                <li><a href="/blog/2">How I learned to code?</a></li>
                <li><a href="/blog/3">How you can be an Accomplished Programmer!</a></li>
            </ul>

            <br>
            <h5 class="font-weight-normal">Github Account</h5>
                <ul>
                    <li>
                        <a href="https://github.com/Saddamshah" target="_blank">Saddam Shah Github</a>
                    </li>
                </ul>   
            <br>
            <h5 class="font-weight-normal">Linkedin Account</h5>
                <ul>         
                    <li>
                        <a href="https://www.linkedin.com/in/saddam-shah/" target="_blank">Saddam Shah Linkedin</a>
                    </li>
                </ul>
        </div>
    </div>
<%- include('footer') %>
