<%- include('header') %>
<div class="container">
    <h2 class="my-5 text-center font-weight-normal">Who am I ?</h2>
</div>
    <div class="container">
        <h3 class="my-3 ">Lists of my blog:</h3>
        <ol>
            <li><a href="/blog/1">What is Programming?</a></li>
            <li><a href="/blog/2">How I learned to code?</a></li>
            <li><a href="/blog/3">Here is how you can be an Accomplished Programmer!</a></li>
        </ol>
    </div>
<%- include('footer') %>
