<%- include('header') %>
    <div class="container">
        <h2 class="my-5 text-center font-weight-normal">How you can be an Accomplished Programmer!</h2>
    </div>
    <div class="container-fluid mx-auto row">
        <div class="col-md-8 mx-auto ">
            <p class="lead font-italic  text-center">Well, you can achieve anything in your life, what do I mean by that?</p>
        
        <br><br>
        <h5 class="font-weight-normal">Let's discuss:</h5>
        <p class="lead"> 
            But before we get into it, let me clarify that this article is only for those who dare to dream. If you happen to be a dreamer, join the wagon and go ahead and read the article.
            <br><br>
            I truly believe that human beings can do anything. If you are a human, congratulations because you have the most powerful weapon unlike other species on the earth and that is your brain.
            <br><br>
        </p>


        <h5 class="font-weight-normal">Always remember commitment is important.</h5>
        <p class="lead font-italic  text-center">
            "Without commitment, you never start but more importantly, without consistency, you never finish."
        </p>
        <br>
        <p class="lead">
            Commitment & Consistency are the 2 essential elements to achieve anything. So the question is how long it takes you to achieve it? 
    
            <br><br>
            Well, it's up to you how bad you want it. Let me give you an example. 
            <br>
        </p>
            <h5 class="font-weight-normal">Do you know Thomas Alva Edison?</h5>
            <p class="lead">
                Thomas Alva Edison is the inventor of the light bulb. His famous quote is "Our greatest weakness lies in giving up. The most certain way to succeed is always to try just one more time."
                <br><br>
                He had tried 10,000 times before being able to invent the first light bulb in the world. So, the key is to keep trying and keep pushing your limit until you get what you desired.
                <br><br>
                I hope that you agree.
                <br><br>
                Thank You.
            </p>
            <br>
            <h5 class="font-weight-normal">Explore More Topics </h5>
            <div class=" justify-content-between">
                <a href="/blog/1">What is Programming?</a> | 
                <a href="/blog/2">How I learned to code?</a>
            </div>
            <br>
            <br> 
        </div>
    </div>
<%- include('footer') %>
